.widget-tabs .field.admin__field[class*='_categories'].disabled{
    position: relative;
    overflow: hidden;
    cursor: default;
    -user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.widget-tabs .field.admin__field[class*='_categories'].disabled::before{
    content: '';
    opacity: 0.7;
    background: #fff;
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 99;
}
.widget-tabs .field.admin__field[class*='_categories'] #conditions__1__children{
    max-height: 37px;
    overflow: hidden;
}
.widget-tabs .field.admin__field[class*='_categories'] .rule-chooser{
    position: absolute;
    width: 300px;
    background: #fff;
    z-index: 99;
}
