 <config  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
     <type name="Magento\Search\Model\Autocomplete">
         <arguments>
             <argument name="dataProviders" xsi:type="array">
                 <item name="20" xsi:type="object">TemplateMonster\AjaxSearch\Model\Autocomplete\Catalog\DataProvider</item>
                 <item name="30" xsi:type="object">TemplateMonster\AjaxSearch\Model\Autocomplete\Product\DataProvider</item>
             </argument>
         </arguments>
     </type>
     <preference for="Magento\Search\Block\Term" type="TemplateMonster\AjaxSearch\Block\Term" />
</config>