@charset "UTF-8";
/* 
 *  Featured Product by TemplateMonster 2016
 *  v1.0.0
 */
.block-posts-list {
  clear: both; }
  .block-posts-list .post-items {
    list-style: none;
    padding: 0;
    display: flex;
    -webkit-display: flex;
    flex-wrap: wrap;
    margin: 0 -15px; }
  .block-posts-list .post-item {
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 30px; }
  .block-posts-list .item-wrapper {
    padding-bottom: 43px; }
  .block-posts-list .post-image {
    margin-bottom: 21px; }
    .block-posts-list .post-image img {
      width: 100%;
      vertical-align: top; }
  .block-posts-list .post-title {
    margin-bottom: 6px; }
    .block-posts-list .post-title h3 {
      font-weight: 500;
      margin: 0; }
  .block-posts-list .post-short-content {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 26px; }
  .block-posts-list .post-link {
    font-weight: 700; }
  .block-posts-list .post-data {
    border-top: solid 1px #e8e8e8;
    padding: 11px 0 0;
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; }
    .block-posts-list .post-data .create-date a,
    .block-posts-list .post-data .post-author a,
    .block-posts-list .post-data .post-comments a {
      text-decoration: none; }
    .block-posts-list .post-data .create-date a span:before, .block-posts-list .post-data .create-date:before,
    .block-posts-list .post-data .post-author a span:before,
    .block-posts-list .post-data .post-author:before,
    .block-posts-list .post-data .post-comments a span:before,
    .block-posts-list .post-data .post-comments:before {
      font-size: 18px;
      padding-right: 4px;
      vertical-align: middle; }
    .block-posts-list .post-data .create-date {
      order: 1;
      -webkit-order: 1; }
      .block-posts-list .post-data .create-date time {
        display: inline-block; }
    .block-posts-list .post-data .post-author {
      order: 2;
      -webkit-order: 2; }
    .block-posts-list .post-data .post-comments {
      order: 3;
      -webkit-order: 3;
      flex-basis: 50px;
      -webkit-flex-basis: 50px;
      text-align: right; }
    @media (max-width: 1200px) {
      .block-posts-list .post-data {
        display: block;
        overflow: hidden; }
        .block-posts-list .post-data .create-date,
        .block-posts-list .post-data .post-author {
          display: block; }
        .block-posts-list .post-data .post-comments {
          float: right; } }
  @media (min-width: 767px) {
    .block-posts-list .post-item {
      flex-basis: 33.333%;
      -webkit-flex-basis: 33.333%;
      max-width: 33.333%; } }
  @media (max-width: 768px) {
    .block-posts-list .post-item {
      flex-basis: 50%;
      -webkit-flex-basis: 50%; }
      .block-posts-list .post-item .item-wrapper {
        padding-bottom: 20px; } }
  @media (max-width: 350px) {
    .block-posts-list .post-item {
      flex-basis: 100%;
      -webkit-flex-basis: 100%; } }

.posts-list-wrapper {
  /*Toolbar
  **********************************************/ }
  .posts-list-wrapper .toolbar-top {
    margin-bottom: 30px; }
    .posts-list-wrapper .toolbar-top .toolbar {
      position: relative;
      margin-bottom: 0;
      text-align: left; }
    .posts-list-wrapper .toolbar-top .sorter {
      float: left;
      margin-bottom: 5px; }
    .posts-list-wrapper .toolbar-top .limiter {
      display: block;
      margin-bottom: 5px;
      text-align: right; }
    .posts-list-wrapper .toolbar-top .pages {
      display: none; }
  .posts-list-wrapper .toolbar-bottom .toolbar {
    margin-bottom: 0; }
    .posts-list-wrapper .toolbar-bottom .toolbar .pages {
      text-align: left;
      margin: 0;
      display: block; }
      .posts-list-wrapper .toolbar-bottom .toolbar .pages .pages-item-next {
        position: relative; }
  .posts-list-wrapper .toolbar-bottom .sorter,
  .posts-list-wrapper .toolbar-bottom .limiter {
    display: none;
    visibility: hidden; }

.widget.blog-posts {
  clear: both;
  width: 100%; }
  .widget.blog-posts .post-image img {
    width: 100%;
    vertical-align: top; }
  .widget.blog-posts .post-title {
    margin-bottom: 6px; }
    .widget.blog-posts .post-title h3 {
      font-family: inherit;
      font-weight: 500;
      margin: 0; }
      .widget.blog-posts .post-title h3 a {
        text-decoration: none; }
  .widget.blog-posts .post-link {
    font-weight: 700;
    text-transform: none; }
  .widget.blog-posts .post-data {
    border-top: solid 1px #e8e8e8;
    padding: 11px 0 0;
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; }
    .widget.blog-posts .post-data .create-date a,
    .widget.blog-posts .post-data .post-author a,
    .widget.blog-posts .post-data .post-comments a {
      text-decoration: none; }
    .widget.blog-posts .post-data .create-date a span:before, .widget.blog-posts .post-data .create-date:before,
    .widget.blog-posts .post-data .post-author a span:before,
    .widget.blog-posts .post-data .post-author:before,
    .widget.blog-posts .post-data .post-comments a span:before,
    .widget.blog-posts .post-data .post-comments:before {
      font-size: 18px;
      padding-right: 4px;
      vertical-align: middle; }
    .widget.blog-posts .post-data .create-date {
      order: 1;
      -webkit-order: 1; }
      .widget.blog-posts .post-data .create-date time {
        display: inline-block; }
    .widget.blog-posts .post-data .post-author {
      order: 2;
      -webkit-order: 2; }
    .widget.blog-posts .post-data .post-comments {
      order: 3;
      -webkit-order: 3;
      flex-basis: 50px;
      -webkit-flex-basis: 50px;
      text-align: right; }
    @media (max-width: 1200px) {
      .widget.blog-posts .post-data {
        display: block;
        overflow: hidden; }
        .widget.blog-posts .post-data .create-date,
        .widget.blog-posts .post-data .post-author {
          display: block; }
        .widget.blog-posts .post-data .post-comments {
          float: right; } }

.widget-post-grid .post-items {
  display: flex;
  -webkit-display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -15px; }
.widget-post-grid .post-item {
  list-style: none;
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 30px; }
@media (min-width: 769px) {
  .widget-post-grid .post-items > .post-item {
    flex-basis: 33.333%;
    -webkit-flex-basis: 33.333%;
    max-width: 33.6333%; } }
@media (min-width: 480px) and (max-width: 768px) {
  .widget-post-grid .post-items > .post-item {
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    max-width: 50%; } }
.widget-post-grid .post-image {
  margin-bottom: 15px; }

.widget-post-list .item-wrapper {
  margin-bottom: 50px;
  overflow: hidden; }
.widget-post-list .post-item:last-child .item-wrapper {
  margin-bottom: 0; }
.widget-post-list .post-image {
  float: left;
  margin: 0 30px 0 0;
  max-width: 38%; }
.widget-post-list .post-content-wrapper {
  overflow: hidden; }
.widget-post-list .post-short-content {
  margin-bottom: 10px; }
@media (max-width: 768px) {
  .widget-post-list .post-image {
    max-width: 45%;
    margin-bottom: 10px; }
  .widget-post-list .post-content-wrapper {
    overflow: unset; } }
@media (max-width: 421px) {
  .widget-post-list .post-image {
    float: none;
    max-width: 100%;
    margin: 0 0 20px 0; } }

.widget-post-column .post-item {
  margin-bottom: 30px; }
  .widget-post-column .post-item:last-child {
    margin-bottom: 0; }
.widget-post-column .post-image {
  margin-bottom: 10px; }
.widget-post-column .post-link {
  display: table; }
.widget-post-column .post-short-content {
  margin-bottom: 8px; }

.post-page {
  clear: both;
  font-family: inherit;
  width: 100%; }
  .post-page .post-text {
    margin-bottom: 25px; }
  .post-page .post-data {
    border-top: solid 1px #e8e8e8;
    padding: 13px 0 0;
    margin-bottom: 50px;
    color: #999999; }
    .post-page .post-data .create-date,
    .post-page .post-data .post-author,
    .post-page .post-data .post-comments {
      display: inline-block;
      margin-right: 20px; }
      .post-page .post-data .create-date span, .post-page .post-data .create-date a,
      .post-page .post-data .post-author span,
      .post-page .post-data .post-author a,
      .post-page .post-data .post-comments span,
      .post-page .post-data .post-comments a {
        display: inline-block; }
      .post-page .post-data .create-date a,
      .post-page .post-data .post-author a,
      .post-page .post-data .post-comments a {
        color: #999999;
        text-decoration: none; }
        .post-page .post-data .create-date a:hover,
        .post-page .post-data .post-author a:hover,
        .post-page .post-data .post-comments a:hover {
          color: #000; }
      .post-page .post-data .create-date a span:before, .post-page .post-data .create-date:before,
      .post-page .post-data .post-author a span:before,
      .post-page .post-data .post-author:before,
      .post-page .post-data .post-comments a span:before,
      .post-page .post-data .post-comments:before {
        font-size: 18px;
        line-height: 18px;
        padding-right: 4px;
        color: #000;
        vertical-align: middle; }
    .post-page .post-data .create-date time {
      display: inline-block; }
    @media (max-width: 480px) {
      .post-page .post-data {
        overflow: hidden; }
        .post-page .post-data .create-date,
        .post-page .post-data .post-author,
        .post-page .post-data .post-comments {
          display: block;
          margin-bottom: 3px; } }
  .post-page .post-relatedproducts .block.related {
    float: none; }
    .post-page .post-relatedproducts .block.related .owl-carousel .product-item {
      width: 100%; }
    .post-page .post-relatedproducts .block.related .product-item {
      width: 33.33%; }
      .post-page .post-relatedproducts .block.related .product-item .product-item-info {
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: none;
        border: none; }
      .post-page .post-relatedproducts .block.related .product-item .product-item-photo {
        display: block;
        text-align: center; }

.post-comments-block {
  margin-bottom: 68px; }
  .post-comments-block .post-comments-content {
    margin-bottom: 48px; }
  .post-comments-block .post-comment {
    background: #f4f4f4;
    padding: 30px;
    margin-bottom: 20px; }
  .post-comments-block .comment-info {
    overflow: hidden;
    padding: 0 0 3px 0;
    margin-bottom: 15px;
    border-bottom: solid 1px #e8e8e8; }
    .post-comments-block .comment-info .post-data {
      float: right;
      margin: 0 0 0 5px;
      border: none;
      padding: 0; }
      .post-comments-block .comment-info .post-data .create-date {
        margin: 0; }
        .post-comments-block .comment-info .post-data .create-date time {
          display: inline-block; }
    .post-comments-block .comment-info .comment-author {
      margin-top: 0; }
  .post-comments-block .comment-add .subtitle {
    margin-bottom: 30px; }
  .post-comments-block .comment-add .fieldset {
    margin-bottom: 0; }
    .post-comments-block .comment-add .fieldset .field {
      margin-bottom: 28px; }
  @media (min-width: 767px) {
    .post-comments-block .comment-add label.label {
      float: left;
      margin: 0;
      min-width: 90px; }
    .post-comments-block .comment-add .control {
      overflow: hidden; }
      .post-comments-block .comment-add .control input {
        width: 327px; }
      .post-comments-block .comment-add .control textarea {
        height: 242px; }
    .post-comments-block .comment-add .comment-form-actions {
      margin-left: 90px; } }

.block.related-posts .block-title {
  margin-bottom: 30px; }
.block.related-posts .related-post-list {
  padding: 0;
  overflow: hidden;
  margin: -1px 0 0 0;
  list-style: none; }
  .block.related-posts .related-post-list li {
    box-sizing: border-box;
    margin-bottom: 0; }
    .block.related-posts .related-post-list li h5.post-title {
      margin: 0;
      font-weight: normal; }
      .block.related-posts .related-post-list li h5.post-title a {
        display: block;
        text-decoration: none;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        font-size: 14px;
        line-height: 51px;
        color: #000000;
        border-top: solid 1px #e8e8e8; }
        .block.related-posts .related-post-list li h5.post-title a:hover {
          background: #e8e8e8;
          padding-left: 15px; }
  @media (min-width: 767px) {
    .block.related-posts .related-post-list {
      display: flex;
      -webkit-display: flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      margin-left: -15px; }
      .block.related-posts .related-post-list li {
        padding-left: 15px;
        flex-basis: 50%;
        -webkit-flex-basis: 50%; } }
  @media (min-width: 1200px) {
    .block.related-posts .related-post-list li {
      flex-basis: 33.333%;
      -webkit-flex-basis: 33.333%; }
      .block.related-posts .related-post-list li h5.post-title a {
        font-size: 18px; } }
.block.related-posts .related-post-grid {
  padding: 0;
  margin: 0 -15px; }
  .block.related-posts .related-post-grid .inner {
    padding: 0 15px; }
  .block.related-posts .related-post-grid .post-image {
    display: block;
    margin-bottom: 10px; }
    .block.related-posts .related-post-grid .post-image img {
      vertical-align: top; }
  .block.related-posts .related-post-grid h5.post-title {
    margin: 0;
    font-weight: normal;
    line-height: normal; }
    .block.related-posts .related-post-grid h5.post-title a {
      font-size: 14px;
      color: #000000; }
  @media (min-width: 1200px) {
    .block.related-posts .related-post-grid li {
      flex-basis: 33.333%;
      -webkit-flex-basis: 33.333%; }
      .block.related-posts .related-post-grid li h5.post-title a {
        font-size: 18px; } }

.block-blog-categories .block-title,
.block-recent-posts .block-title,
.block-recent-comments .block-title {
  margin-bottom: 20px; }
  .block-blog-categories .block-title strong,
  .block-recent-posts .block-title strong,
  .block-recent-comments .block-title strong {
    font-weight: 300;
    font-size: 18px; }
.block-blog-categories .block-content ul,
.block-recent-posts .block-content ul,
.block-recent-comments .block-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px; }
  .block-blog-categories .block-content ul li,
  .block-recent-posts .block-content ul li,
  .block-recent-comments .block-content ul li {
    margin: 15px 0 0;
    padding-top: 15px;
    border-top: solid 1px #e8e8e8; }
    .block-blog-categories .block-content ul li:first-child,
    .block-recent-posts .block-content ul li:first-child,
    .block-recent-comments .block-content ul li:first-child {
      border: none;
      margin-top: 0;
      padding-top: 0; }

.block-blog-categories .block-content #blog-show-all {
  cursor: pointer; }
  .block-blog-categories .block-content #blog-show-all:hover {
    text-decoration: underline; }
  .block-blog-categories .block-content #blog-show-all.closed .less, .block-blog-categories .block-content #blog-show-all.opened .more {
    display: none; }

.block-recent-comments .title-section {
  font-size: 13px;
  padding-bottom: 10px; }
  .block-recent-comments .title-section strong {
    font-weight: 600; }
    .block-recent-comments .title-section strong:before {
      font-size: 18px;
      line-height: 16px;
      vertical-align: middle; }

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.post-page {
  /* display none until init */
  	/*
       *  Core Owl Carousel CSS File
       */
  /***/
  /* fix */ }
  .post-page .owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .post-page .owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y; }
  .post-page .owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .post-page .owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%; }
  .post-page .owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out; }
  .post-page .owl-carousel .owl-item {
    float: left; }
  .post-page .owl-controls .owl-page,
  .post-page .owl-controls .owl-buttons div {
    cursor: pointer; }
  .post-page .owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent; }
  .post-page .owl-carousel .owl-controls .owl-nav .owl-prev,
  .post-page .owl-carousel .owl-controls .owl-nav .owl-next,
  .post-page .owl-carousel .owl-controls .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .post-page .owl-carousel .owl-wrapper,
  .post-page .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .post-page .owl-controls {
    position: absolute;
    top: -50px;
    right: 0; }
    .post-page .owl-controls .owl-prev {
      display: inline-block; }
      .post-page .owl-controls .owl-prev:before {
        display: inline-block;
        font-family: "Material Icons";
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        content: ""; }
    .post-page .owl-controls .owl-next {
      display: inline-block; }
      .post-page .owl-controls .owl-next:before {
        display: inline-block;
        font-family: "Material Icons";
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        content: ""; }
    .post-page .owl-controls .owl-prev,
    .post-page .owl-controls .owl-next {
      cursor: pointer;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      -webkit-border-radius: 500px;
      -moz-border-radius: 500px;
      border-radius: 500px;
      transition: 0.2s;
      border: solid 1px transparent; }
      .post-page .owl-controls .owl-prev:before,
      .post-page .owl-controls .owl-next:before {
        font-size: 36px;
        -moz-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease; }
      .post-page .owl-controls .owl-prev:hover,
      .post-page .owl-controls .owl-next:hover {
        border-color: #000; }

/*# sourceMappingURL=blog.css.map */
