<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="TemplateMonster\Parallax\Model\ResourceModel\Block\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">parallax_block</argument>
            <argument name="eventPrefix" xsi:type="string">parallax_block_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">parallax_block_collection</argument>
            <argument name="resourceModel" xsi:type="string">TemplateMonster\Parallax\Model\ResourceModel\Block</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="parallax_block_listing_data_source" xsi:type="string">TemplateMonster\Parallax\Model\ResourceModel\Block\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ParallaxItemGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="ParallaxItemGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">TemplateMonster\Parallax\Model\ResourceModel\Block\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ParallaxItemGridFilterPool</argument>
        </arguments>
    </virtualType>
    <preference for="TemplateMonster\Parallax\Api\BlockRepositoryInterface" type="TemplateMonster\Parallax\Model\BlockRepository"/>
    <preference for="TemplateMonster\Parallax\Api\BlockItemRepositoryInterface" type="TemplateMonster\Parallax\Model\BlockItemRepository"/>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="TemplateMonster\Parallax\Api\Data\BlockInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">parallax_block</item>
                    <item name="identifierField" xsi:type="string">block_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="TemplateMonster\Parallax\Api\Data\BlockInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="storeReader" xsi:type="string">TemplateMonster\Parallax\Model\ResourceModel\Block\Relation\Store\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="storeCreator" xsi:type="string">TemplateMonster\Parallax\Model\ResourceModel\Block\Relation\Store\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="storeUpdater" xsi:type="string">TemplateMonster\Parallax\Model\ResourceModel\Block\Relation\Store\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="TemplateMonster\Parallax\Api\Data\BlockInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
</config>