/* 
 * 	Featured Product by TemplateMonster 2016
 *	v1.0.0
 */


// Colors
$primary: #1979c3;
$secondary: #999999;
$label-color: #ffffff;
$label-bg: #ff0000;
$label-size: 12px;
$border-color: #dedede;

// Fonts
$fa: 'FontAwesome';

