<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    
    <type name="Venice\Product\Logger\Handler">
            <arguments>
                <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
            </arguments>
    </type>
    <type name="Venice\Product\Logger\Logger">
            <arguments>
                <argument name="name" xsi:type="string">veniceLogger</argument>
                <argument name="handlers"  xsi:type="array">
                    <item name="system" xsi:type="object">Venice\Product\Logger\Handler</item>
                </argument>
            </arguments>
    </type>
    <preference for="Venice\Product\Api\WatchSpecRepositoryInterface" type="Venice\Product\Model\WatchSpecRepository"/>
    <preference for="Venice\Product\Api\Data\WatchSpecInterface" type="Venice\Product\Model\WatchSpec"/>
    <preference for="Venice\Product\Api\FamilyRepositoryInterface" type="Venice\Product\Model\FamilyRepository"/>
    <preference for="Venice\Product\Api\Data\ProductFamilyInterface" type="Venice\Product\Model\ProductFamily"/>
    <preference for="Venice\Product\Api\NoteRepositoryInterface" type="Venice\Product\Model\NoteRepository" />
    <preference for="Venice\Product\Api\Data\NoteInterface" type="Venice\Product\Model\Note" />
    <preference for="TemplateMonster\FeaturedProduct\Block\FeaturedProduct\Widget\Product" type="Venice\Product\Block\FeaturedProduct" />
    <preference for="Magento\Catalog\Block\Product\ListProduct" type="Venice\Product\Block\ListProduct" />
</config>