$screen-lg:1100px;
$screen-md:991px;
$screen-sm:767px;
$screen-ip6p:414px;
$screen-ip6:375px;
$screen-ip5:320px;


$word-dark:#222222;
$banner-word:#444444;
$white:#fff;
$blue:#2a487e;
$grey-line:#ababab;
$popup-color:#f3f4f6;
$nav-bg-color:#224179;
$btn-color:#0c74d4;
$mid-grey:#f3f3f3;
$blog-date-color:#666666;
$ban-border-color:#afbac0;
$arrow-color:#bfb890;
$price-color:#035280;
$brand-name-color:#231f20;
$save-color:#a72a2a;
$footer-arrow:#ccc396;
$search-input:#8294b3;
$filter-box-line:#e8e9ef;
$sort-banner-bg:#f3f6fb;
$sort-banner-text:#202d43;
$sort-box-line:#e5e7ed;
$ws-New-color:#ffebb1;
$btn-bg-color:#224179;
$btn-buy-color:#222222;
$review-line:#e7ebf3;
$review-select-line:#b0bfd8;
$yellow-color:#fda738;
$light-grey:#e0e0e0;
$like-color:#717171;
$rate-star:#fd8f00;

$normal-btn-line:#acacac;

$familybox-border-color:#ededed;
$family-brand-name-color:#a37e2c;

$mobile-view-line-color:#b0bfd8;

$mobile-filter-btn:#464852;
$mobile-filter-right:#cec596;
$mobile-sort-bg:#f8f8f8;

$mobile-footer-line:#eae9e9;

$icon-color:#8ea4b7;

$select-color:#59709b;

/*--- social flag color ---*/

$fb:#6a83ba;
$tw:#59afd3;
$ld:#4a8db1;
$pi:#b73e4b;
$ig:#cf78a5;
$gp:#d26960;
$yt:#d04444;



/*-----------flag color------------*/

$Just-Arrival:#286cab;
$New-Model:#ec9c29;
$Re-Arrival:#1e3964;
$Never-Used:#409dae;
$Limited-Model:#7b3828;
$Recommended:#369a38;


/*-----------font size------------*/
$h10:1rem;
$h11:1.1rem;
$h12:1.2rem;
$h13:1.3rem;
$h14:1.4rem;
$h15:1.5rem;
$h16:1.6rem;
$h18:1.8rem;
$h20:2rem;
$h22:2.2rem;
$h24:2.4rem;
$h28:2.8rem;
$h32:3.2rem;

/*-----------img url------------*/

$icon_url:'../images/media/svg/';
$img_url:'../images/media/';

/*-----------padding-----------*/
$qa-padding-left:23px;

/*--- font family ---*/
$fa-family:'FontAwesome';
