<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="TemplateMonster_ShopByBrand::brand" title="Brand" translate="title" sortOrder="10">
                    <resource id="TemplateMonster_ShopByBrand::brand_save" title="Save Brand" translate="title" sortOrder="10" />
                    <resource id="TemplateMonster_ShopByBrand::brand_delete" title="Delete Brand" translate="title" sortOrder="20" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="TemplateMonster_ShopByBrand::config_shopbybrand" title="Shop By Brand" sortOrder="80" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>