<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shopbybrand>
            <general>
                <enabled>1</enabled>
            </general>
            <brand>
                <layout>2columns-left</layout>
            </brand>
            <product>
                <show_logo>1</show_logo>
                <show_name>1</show_name>
                <brand_logo_width>200</brand_logo_width>
                <selector>.product-info-price</selector>
            </product>
            <brand_listing>
                <show_logo>1</show_logo>
            </brand_listing>
            <brand_sidebar>
                <show_logo>1</show_logo>
                <quantity>10</quantity>
            </brand_sidebar>
        </shopbybrand>
    </default>
</config>