<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <theme_options>
            <header>
                <general>
                    <top_links_position>auto</top_links_position>
                    <currency_position>auto</currency_position>
                    <language_position>auto</language_position>
                </general>
                <social>
                    <show_social>0</show_social>
                    <social_position>left</social_position>
                </social>
            </header>
            <footer>
                <social>
                    <show_social>0</show_social>
                    <social_position>left</social_position>
                </social>
            </footer>
            <sidebar>
                <layout>left_sidebar</layout>
                <tags>1</tags>
                <cart>1</cart>
                <wishlist>1</wishlist>
                <compare>1</compare>
                <recently_viewed>1</recently_viewed>
                <recently_compared>1</recently_compared>
                <orders>1</orders>
            </sidebar>
            <category_page>
                <grid_view>
                    <image_aspect_ratio>1</image_aspect_ratio>
                    <show_swatches>1</show_swatches>
                    <show_compare>1</show_compare>
                    <show_wishlist>1</show_wishlist>
                    <show_reviews>1</show_reviews>
                    <show_desc>1</show_desc>
                </grid_view>
                <list_view>
                    <image_aspect_ratio>1</image_aspect_ratio>
                    <show_swatches>1</show_swatches>
                    <show_compare>1</show_compare>
                    <show_wishlist>1</show_wishlist>
                    <show_reviews>1</show_reviews>
                    <show_desc>1</show_desc>
                </list_view>
            </category_page>
            <product_page>
                <general>
                    <show_sku>1</show_sku>
                    <show_stock>1</show_stock>
                    <show_compare>1</show_compare>
                    <show_wishlist>1</show_wishlist>
                    <show_email_to_friend>1</show_email_to_friend>
                    <show_reviews>1</show_reviews>
                    <show_short_desc>1</show_short_desc>
                    <show_related>1</show_related>
                    <show_related_checkbox>1</show_related_checkbox>
                    <related_count>4</related_count>
                    <show_upsell>1</show_upsell>
                    <show_other>1</show_other>
                </general>
                <tabs>
                    <description>1</description>
                    <additional>1</additional>
                    <review>1</review>
                </tabs>
            </product_page>
        </theme_options>
    </default>
</config>