<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="sample_data_installer" frontName="sample_data_installer">
            <module name="TemplateMonster_SampleDataInstaller" before="Magento_Backend" />
        </route>
    </router>
</config>