<div class="admin__field field with-note type_<%= data.field %> <%= data.type %>">
    <label class="label admin__field-label"><span><%= data.title %> <%= data.field %></span></label>
    <div class="admin__field-control control">
        <input value='<%= data.value %>' name="<%= data.type %>" class="data_<%= data.field %> featured_product_field admin__control-text" type="text">
        <div class="note admin__field-note">Enter the <%= data.field %> for <%= data.title %></div>
    </div>
</div>

