<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <newsletter_popup>
            <general>
                <enabled>1</enabled>
                <show_on_startup>1</show_on_startup>
                <title>Newsletter Subscription</title>
                <content>Sign Up for Our Newsletter:</content>
                <submit_button>Subscribe</submit_button>
                <cancel_button>Cancel</cancel_button>
                <show_on_footer>0</show_on_footer>
                <show_subscription_link_in_footer>1</show_subscription_link_in_footer>
                <popup_width>670</popup_width>
                <footer_link_text>Newsletter Subscription</footer_link_text>
                <popup_show_delay>0</popup_show_delay>
                <button_color>#1979c3</button_color>
                <button_hover_color>#006bb4</button_hover_color>
            </general>
            <social>
                <general>
                    <enable_facebook_icon>1</enable_facebook_icon>
                    <enable_twitter_icon>1</enable_twitter_icon>
                    <enable_linkedin_icon>1</enable_linkedin_icon>
                    <enable_google_icon>1</enable_google_icon>
                    <enable_youtube_icon>1</enable_youtube_icon>
                    <enable_vimeo_icon>1</enable_vimeo_icon>
                    <enable_pinterest_icon>1</enable_pinterest_icon>
                    <enable_instagram_icon>1</enable_instagram_icon>
                    <enable_foursquare_icon>1</enable_foursquare_icon>
                    <enable_tumblr_icon>1</enable_tumblr_icon>
                    <enable_rss_icon>1</enable_rss_icon>
                </general>
                <enabled_all>0</enabled_all>
                <facebook_settings>
                    <icon_background>#4e69a2</icon_background>
                    <icon_color>#ffffff</icon_color>
                    <icon_background_hover>#4e69a2</icon_background_hover>
                    <icon_hover_color>#ffffff</icon_hover_color>
                </facebook_settings>
                <twitter_settings>
                    <icon_background>#1da1f2</icon_background>
                    <icon_color>#ffffff</icon_color>
                    <icon_background_hover>#1da1f2</icon_background_hover>
                    <icon_hover_color>#ffffff</icon_hover_color>
                </twitter_settings>
                <linkedin_settings>
                    <icon_background>#0083be</icon_background>
                    <icon_color>#ffffff</icon_color>
                    <icon_background_hover>#0083be</icon_background_hover>
                    <icon_hover_color>#ffffff</icon_hover_color>
                </linkedin_settings>
                <google_settings>
                    <icon_background>#e02f2f</icon_background>
                    <icon_color>#ffffff</icon_color>
                    <icon_background_hover>#e02f2f</icon_background_hover>
                    <icon_hover_color>#ffffff</icon_hover_color>
                </google_settings>
                <youtube_settings>
                    <icon_background>#e02f2f</icon_background>
                    <icon_color>#ffffff</icon_color>
                    <icon_background_hover>#e02f2f</icon_background_hover>
                    <icon_hover_color>#ffffff</icon_hover_color>
                </youtube_settings>
                <vimeo_settings>
                    <icon_background>#20b9eb</icon_background>
                    <icon_color>#ffffff</icon_color>
                    <icon_background_hover>#20b9eb</icon_background_hover>
                    <icon_hover_color>#ffffff</icon_hover_color>
                </vimeo_settings>
                <pinterest_settings>
                    <icon_background>#e02f2f</icon_background>
                    <icon_color>#ffffff</icon_color>
                    <icon_background_hover>#e02f2f</icon_background_hover>
                    <icon_hover_color>#ffffff</icon_hover_color>
                </pinterest_settings>
                <instagram_settings>
                    <icon_background>#316699</icon_background>
                    <icon_color>#ffffff</icon_color>
                    <icon_background_hover>#316699</icon_background_hover>
                    <icon_hover_color>#ffffff</icon_hover_color>
                </instagram_settings>
                <foursquare_settings>
                    <icon_background>#f94877</icon_background>
                    <icon_color>#ffffff</icon_color>
                    <icon_background_hover>#f94877</icon_background_hover>
                    <icon_hover_color>#ffffff</icon_hover_color>
                </foursquare_settings>
                <tumblr_settings>
                    <icon_background>#44556b</icon_background>
                    <icon_color>#ffffff</icon_color>
                    <icon_background_hover>#44556b</icon_background_hover>
                    <icon_hover_color>#ffffff</icon_hover_color>
                </tumblr_settings>
                <rss_settings>
                    <icon_background>#eb7b1d</icon_background>
                    <icon_color>#ffffff</icon_color>
                    <icon_background_hover>#eb7b1d</icon_background_hover>
                    <icon_hover_color>#ffffff</icon_hover_color>
                </rss_settings>
            </social>
        </newsletter_popup>
    </default>
</config>