/*
* @subsection   Typography
*/

h1, .heading-1 {
  font-size: 2rem;
}

h2, .heading-2 {
  font-size: 1.5rem;
}

h3, .heading-3 {
  font-size: 1.17rem;
}

h4, .heading-4 {
  font-size: 1rem;
}

h5, .heading-5 {
  font-size: .83rem;
}

h6, .heading-6 {
  font-size: .67rem;
}

@for $i from 1 through 6 {
  h#{$i},
  .heading-#{$i} {
    margin-bottom: 25px;
    font-weight: 600;
  }
}

//Titles
.page-title,
.section-title {
  @extend .text-center;
  font-size: 35px;
  line-height: 1;
  .base {
    display: inline-block;
  }
}

//Page title
.page-title-wrapper {
  .page-title {
    margin-bottom: 36px;
    @media (max-width: $screen-md-min - 1) {
      margin-bottom: 25px;
    }
  }
}
.columns {
  .page-title {
    text-align: left;
  }
  .container {
    padding: 0;
  }
}
